.card__title {
    max-width: 161px;
    display: block;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-top: -64px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #201714;
    z-index: 3;
    font-family: 'Raleway';
    font-weight: 700;

}