.card__circles {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-play-state: paused;
    border-radius: inherit;
    opacity: 0;
}