.categories__cards-container {
    display: block;
    min-width: 100%;
    padding: 154px 160px 151px 160px;
    position: relative;

}

@media screen and (max-width: 745px) {
    .categories__cards-container {
        padding: 154px 55px 151px 55px;
    }
}

@media screen and (max-width: 425px) {
    .categories__cards-container {
        padding: 154px 5px 151px 5px;
    }
}