.categories__background-item_circle {
    background-image: url('./images/categories/circle.svg');
    right: -142.23px;
    top: 71.59px;
    width: 385.64px;
    height: 385.64px;
    transform: rotate(66.67deg);
}