.categories__background-item_green-sheet {
    background-image: url('./images/categories/green-sheet.svg');
    top: 114px;
    left: -8px;
    width: 198.98px;
    height: 146.47px;
    transform: rotate(152.42deg);
    animation: greenSheetAnim 50s ease-in infinite alternate;
}


@media screen and (max-width:745px) {
    .categories__background-item_green-sheet {
        top: 10px;
    }
}

@media screen and (max-width:425px) {
    .categories__background-item_green-sheet {
        top: 20px;
        left: 21px;
        animation: greenSheetAnimMobile 50s ease-in infinite alternate;
    }


    @keyframes greenSheetAnimMobile {
        @for $i from 1 through 50 {
            #{($i * 3%)} {
                left: random(2) + 21px;
                top: random(2) + 20px;
            }
        }
    }
}


@keyframes greenSheetAnim {
    @for $i from 1 through 50 {
        #{($i * 3%)} {
            left: random(2) * 10px;
            top: random(10) + 114px;
        }
    }
}