.card__circle {
    display: block;
    position: absolute;
    border-radius: inherit;
    border-radius: 100%;
    animation-play-state: inherit;
    background: rgba(255, 255, 255, 0.3);
}



@keyframes circleAnimation {
    @for $i from 1 through 120 {
        #{($i * 3%)} {
            transform: translate3d((random(10) * 10px), (random(10) * -10px), (random(10) * 10px)) scale(random(2));
        }
    }
}

@for $i from 1 through 4 {
    $size: random(10 * $i + 1) * 10px;

    .card__circle:nth-child(#{$i}) {
        width: $size;
        height: $size;
        max-width: 200px;
        max-height: 200px;
        top: random(10) * 5%;
        left: random(10) * 5%;
        animation-delay: ($i * -.15s);
        animation: circleAnimation random(100) + 90s ease-in infinite alternate;
        animation-play-state: inherit;
    }
}