.categories__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
    width: 100%;
    gap: 32px;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .categories__cards {
        display: flex;
        flex-direction: column;
    }
}